{% extends 'base.html.twig' %}

{% block title %}Hello AscensoresController!{% endblock %}

{% block body %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nº Petición</th>
      <th scope="col">Nº acensor</th>
      <th scope="col">Posición ascensor</th>
      <th scope="col">Plantas recorridas en esa petición</th>
      <th scope="col">Total Plantas recorridas</th>
    </tr>
  </thead>
  <tbody>
    {% for peticion in peticiones %}
      <tr>
        <th scope="row">{{peticion.id}}</th>
        <th scope="row">{{peticion.ascensor.getId()}}</th>
        <th scope="row">{{peticion.ascensor.getPosicion()}}</th>
        <th scope="row">{{peticion.getPlantasRecorridas()}}</th>
        <th scope="row">{{peticion.ascensor.getDistanciaTotal()}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
