{% extends 'base.html.twig' %}

{% block title %}Listado peticiones{% endblock %}

{% block body %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nº Petición</th>
      <th scope="col">Nº acensor</th>
      <th scope="col">Posición ascensor</th>
      <th scope="col">Plantas recorridas en esa petición</th>
      <th scope="col">Total Plantas recorridas</th>
    </tr>
  </thead>
  <tbody>
    {% for peticion in peticiones %}
      <tr 
        {% if peticion.ascensor.getId() == 1 %} class="ascensor-1" 
        {% elseif peticion.ascensor.getId() == 2 %} class="ascensor-2" 
        {% else %} class="ascensor-3" 
        {% endif %}
      >
        <th scope="row">{{peticion.id}}</th>
        <th scope="row">Ascensor {{peticion.ascensor.getId()}}</th>
        <th scope="row">
          {% for distancia in distancias %}
            {% if distancia.peticion == peticion.id and distancia.getAscensor().getPosicion() == peticion.ascensor.getPosicion() %}
              {% if distancia.getPosicionActual() == 0 %}
                Planta baja
              {% else %}
                {{distancia.getPosicionActual()}}ª Planta
              {% endif %}
            {% endif %}
          {% endfor %}
        </th>
        <th scope="row">
          {{peticion.getPlantasRecorridas()}}
          {% if peticion.getPlantasRecorridas() == 1 %}
             Planta
          {% else %}
             Plantas
          {% endif %}
        </th>
        <th scope="row">
          {% for distancia in distancias %}
            {% if distancia.peticion == peticion.id and distancia.getAscensor().getId() == peticion.ascensor.getId() %}
              {{distancia.getDistanciaTotal()}} Plantas
            {% endif %}
          {% endfor %}
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
